# LINE Bot 設定
LINE_CHANNEL_ACCESS_TOKEN = "oZPbAQXckPCTbRPN67GNPlyG/MqToO3haMOIvWOI35PGg8ZdBYEVtOc1KdJ+zYLJjOJ8+/YGaEk4f7m6W1RavpsYIp+5k1taVZ47HYboydFvMbTQ4rxXlNGysl2q0sM79gbzVuGnzHkPL2mf9SfU1gdB04t89/1O/w1cDnyilFU="
LINE_CHANNEL_SECRET = "793a80c83472d9ddf0451cad2dd4077c"

# JWT 設定（生產環境必須修改）
JWT_SECRET_KEY="GoodJob-20260122-Jwt-Secret"

# Google Maps API Key
GOOGLE_MAPS_API_KEY="AIzaSyDqcXhRP7pJmQIlO_F86Oh8lSmEtOUgXaw"

# 管理員帳號設定（可選）
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# PostgreSQL 資料庫設定
POSTGRES_USER=goodjob
POSTGRES_PASSWORD=goodjob123
POSTGRES_DB=goodjob_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://goodjob:goodjob123@postgres:5432/goodjob_db
PYTHONUNBUFFERED=1

#GUNICORN 設定
USE_GUNICORN=true
DEBUG=true
GUNICORN_WORKERS=2
LOG_LEVEL=DEBUG

# Rich Menu 設定（執行 setup_rich_menus.py 後會顯示 Rich Menu ID）
# 設定此值後，新註冊的用戶會自動設定已註冊用戶的 Rich Menu
REGISTERED_USER_RICH_MENU_ID=richmenu-72b1593c20fb1fd607ece676e2414ccd
UNREGISTERED_USER_RICH_MENU_ID=richmenu-61b018e3925ccf4091648bd0424c8d5e
